<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-start my-5">
      <div class="textCenter">
        <h3>Empresas Parceiras</h3>
        <hr>
      </div>
    </div>
  </div>
</div>
<!--Carousel-->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">

          <div class="carousel-item active">
            <div class="row  d-flex justify-content-between">

              <!-- 1 -->
              <div class="col-md-2 m-3">
                <div class="single-box">

                  <div class="img-area">

                    <div class="row">
                      <div class=" col-md-12">
                        <div class="card imgBody">
                          <div class="card-body imgBody  d-flex align-items-center justify-content-center">

                            <div class=" imgCard">
                              <img src="https://i.imgur.com/edN0W4e.png" class="card-img-top" alt="Magalu">
                            </div>
                          </div>
                        </div>


                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <!-- 1 -->
              <div class="col-md-2 m-3">
                <div class="single-box">

                  <div class="img-area">

                    <div class="row">
                      <div class=" col-md-12">

                        <div class="card imgBody">
                          <div class="card-body imgBody  d-flex align-items-center justify-content-center">

                            <div class=" imgCard">
                              <img src="https://i.imgur.com/tBKTcTu.png" class="card-img-top" alt="Cine Marke">
                            </div>

                          </div>
                        </div>


                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <!-- 1 -->
              <div class="col-md-2 m-3">
                <div class="single-box">

                  <div class="img-area">

                    <div class="row">
                      <div class=" col-md-12">

                        <div class="card imgBody">
                          <div class="card-body imgBody  d-flex align-items-center justify-content-center">

                            <div class=" imgCard">
                              <img src="https://i.imgur.com/ZyU8efU.png" class="card-img-top" alt="Burg King">
                            </div>

                          </div>
                        </div>


                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <!-- 1 -->
              <div class="col-md-2 m-3">
                <div class="single-box">

                  <div class="img-area">

                    <div class="row">
                      <div class=" col-md-12">

                        <div class="card imgBody">
                          <div class="card-body imgBody  d-flex align-items-center justify-content-center">

                            <div class=" imgCard">
                              <img src="https://i.imgur.com/nkN1AGR.jpg" class="card-img-top" alt="Renner">
                            </div>

                          </div>
                        </div>


                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <!-- 1 -->
            </div>
          </div>

          <!-- 2 -->

          <div class="carousel-item">
            <div class="row  d-flex justify-content-between">

              <div class="col-md-2 m-3">
                <div class="single-box">

                  <div class="img-area">

                    <div class="row">
                      <div class=" col-md-12">

                        <div class="card imgBody">
                          <div class="card-body imgBody  d-flex align-items-center justify-content-center">

                            <div class=" imgCard">
                              <img src="https://i.imgur.com/nkN1AGR.jpg" class="card-img-top" alt="Renner">
                            </div>

                          </div>
                        </div>


                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <!-- 2 -->
              <div class="col-md-2 m-3">
                <div class="single-box">

                  <div class="img-area">

                    <div class="row">
                      <div class=" col-md-12">

                        <div class="card imgBody">
                          <div class="card-body imgBody  d-flex align-items-center justify-content-center">

                            <div class=" imgCard">
                              <img src="https://i.imgur.com/aXak7OC.png" class="card-img-top" alt="Habib's">
                            </div>

                          </div>
                        </div>


                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <!-- 2 -->
              <div class="col-md-2 m-3">
                <div class="single-box">

                  <div class="img-area">

                    <div class="row">
                      <div class=" col-md-12">

                        <div class="card imgBody">
                          <div class="card-body imgBody  d-flex align-items-center justify-content-center">

                            <div class=" imgCard">
                              <img src="https://i.imgur.com/GaZntj1.png" class="card-img-top" alt="McDonald's">
                            </div>

                          </div>
                        </div>


                      </div>
                    </div>

                  </div>
                </div>
              </div>


              <!-- 2 -->

              <div class="col-md-2 m-3">
                <div class="single-box">

                  <div class="img-area">

                    <div class="row">
                      <div class=" col-md-12">

                        <div class="card imgBody">
                          <div class="card-body imgBody  d-flex align-items-center justify-content-center">

                            <div class=" imgCard">
                              <img src="https://i.imgur.com/ddzCDHf.png" class="card-img-top" alt="Pet's">
                            </div>

                          </div>
                        </div>


                      </div>
                    </div>

                  </div>
                </div>
              </div>


              <!-- 2 -->
            </div>
          </div>

          <!-- 3 -->

          <div class="carousel-item">
            <div class="row  d-flex justify-content-between">

              <div class="col-md-2 m-3">
                <div class="single-box">

                  <div class="img-area">

                    <div class="row">
                      <div class=" col-md-12">

                        <div class="card imgBody">
                          <div class="card-body imgBody  d-flex align-items-center justify-content-center">

                            <div class=" imgCard">
                              <img src="https://i.imgur.com/ddzCDHf.png" class="card-img-top" alt="Pet's">
                            </div>

                          </div>
                        </div>


                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <!-- 3 -->
              <div class="col-md-2 m-3">
                <div class="single-box">

                  <div class="img-area">

                    <div class="row">
                      <div class=" col-md-12">

                        <div class="card imgBody">
                          <div class="card-body imgBody  d-flex align-items-center justify-content-center">

                            <div class=" imgCard">
                              <img src="https://i.imgur.com/0JkrQUf.png" class="card-img-top" alt="Netshoes">
                            </div>

                          </div>
                        </div>


                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <!-- 3 -->
              <div class="col-md-2 m-3">
                <div class="single-box">

                  <div class="img-area">

                    <div class="row">
                      <div class=" col-md-12">

                        <div class="card imgBody">
                          <div class="card-body imgBody  d-flex align-items-center justify-content-center">

                            <div class=" imgCard">
                              <img src="https://i.imgur.com/Viejf0r.png" class="card-img-top" alt="Pizza Huts">
                            </div>

                          </div>
                        </div>


                      </div>
                    </div>

                  </div>
                </div>
              </div>


              <!-- 3 -->

              <div class="col-md-2 m-3">
                <div class="single-box">

                  <div class="img-area">

                    <div class="row">
                      <div class=" col-md-12">

                        <div class="card imgBody">
                          <div class="card-body imgBody  d-flex align-items-center justify-content-center">

                            <div class=" imgCard">
                              <img src="https://i.imgur.com/edN0W4e.png" class="card-img-top" alt="Magalu">
                            </div>

                          </div>
                        </div>


                      </div>
                    </div>

                  </div>
                </div>
              </div>


              <!-- 3 -->
            </div>
          </div>




        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>

      </div>
    </div>
  </div>
</div>

<br>
<br>

<!--/Carousel-->