<!-- Titulo - categoria de vouchers -->
<div class="container">
  <div class="row">
    <div class="col-12 d-flex justify-content-center my-5">
      <div class="textCenter">
        <h3>Nossos Vouchers</h3>
        <div class="d-flex m-0 p-0">
          <p>Cupos de desconto dá </p>&nbsp;

          <p style="color: rgba(88, 135, 75, 1)">Eco-Merce!</p>
        </div>
        <p>Veja os principais produtos.</p>
      </div>
    </div>
  </div>
</div>
<!-- Titulo - categoria de vouchers -->

<!-- Card - Categoria dos vouchers -->
<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="row d-flex justify-content-between">

        <div class="col-md-4">
          <div class="single-box">
            <div class="img-area">
              <div class="row">
                <div class=" col-md-12">
                  <div class="card imgBody linha">
                    <div class="card-body imgBody  d-flex align-items-center justify-content-center">

                      <div>
                        <div class=" imgCard">
                          <img src="https://i.imgur.com/ycjYbZL.png" class="card-img-top" alt="Alimentacao">
                        </div>

                        <div class="textVoucher">
                          <h4>Alimentação</h4>
                        </div>

                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="single-box">
            <div class="img-area">
              <div class="row">
                <div class=" col-md-12">
                  <div class="card imgBody linha">
                    <div class="card-body imgBody  d-flex align-items-center justify-content-center">

                      <div>
                        <div class=" imgCard">

                          <img src="https://i.imgur.com/5ZOPtxW.png" class="card-img-top" alt="Vestuario">

                        </div>

                        <div class="textVoucher">
                          <h4>Vestuário</h4>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="single-box">
            <div class="img-area">
              <div class="row">
                <div class=" col-md-12">
                  <div class="card imgBody linha">
                    <div class="card-body imgBody  d-flex align-items-center justify-content-center">

                      <div>

                        <div class=" imgCard">
                          <img src="https://i.imgur.com/MSY9wIU.png" class="card-img-top" alt="Eletronico">
                        </div>

                        <div class="textVoucher">
                          <div class="py-2">
                            <h4>Eletrônico</h4>
                          </div>
                        </div>

                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
<!-- Card - Categoria dos vouchers -->

<!-- Parallax -->
<div class="container-fluid">

  <div class="jumbotron" style="
 background-image: url('https://www.infoescola.com/wp-content/uploads/2009/03/reciclagem-de-papel-190579565.jpg');
 background-repeat: no-repeat;
 background-attachment: fixed;
 opacity: 0.8;
 width: 100%;">
    <div class="container">

      <div class="row">

        <div class="col-md-12">

          <p class="lead fs-36 text-center">
            Você tem um futuro?
            O mundo faz parte dele também, então contribuia! Reciclar é fundamental.
          </p>

        </div>

      </div>

    </div>

    <hr class="my-4" style="color: rgb(221, 133, 18)" />
  </div>
</div>
<!-- Parallax -->