<!--Info de contatos-->
<div class="container py-5">
  <div class="row d-flex justify-content-between">
    <div class="col-md-6">

      <div>

        <h1 class="fs-48">
          <p>Entre em contato</p>
          <p>com a gente!</p>
        </h1>
        <br>
        <h5 class="fs-24">
          <p>Entre em contato com a Eco-merce,</p>
          <p>queremos tirar suas dúvidas, ouvir suas</p>
          <p>críticas e sugestões.</p>
        </h5>

        <button class="btn btn-success d-flex align-items-center justify-content-center zap">
          <img class="iconeZap" src="https://i.imgur.com/0GoHSk3.png" alt="Icone Whatsapp"></button>

      </div>

    </div>

    <div class="col-md-4 p-3">

      <div class="p-3 d-flex justify-content-start align-content-center">
        <button class="btn"><img class="iconeCont" src="https://i.imgur.com/TUOGvpv.png" alt="Icone Telefone"></button>
        <p>11 00000-0000</p>
      </div>

      <div class="p-3 d-flex justify-content-start align-content-center">
        <button class="btn"><img class="iconeCont" src="https://i.imgur.com/pBVPFrA.png"
            alt="Icone localizacao"></button>
        <p>Rua Generation, 24</p>
      </div>

      <div class="p-3 d-flex justify-content-lg-start align-content-center">
        <button class="btn"><img class="iconeCont" src="https://i.imgur.com/6f68kHM.png" alt="Icone e-mail"></button>
        <p>contato@ecomerce.com</p>
      </div>

    </div>

  </div>
</div>