<div class="container d-flex">
  <div class="row align-items-center justify-content-between" width="100%">
    <div class="col-4">
      <h2>
        Sobre nós
      </h2>
      <hr>
      <p class="justifyText">
        Eco-merce surge como uma alternativa para atender a ODS12. A poposta é estimular a reciclagem através da
        contribuição de clientes que oferecem seu lixo reciclável em troca de descontos sobre produtos / serviços de
        empresas parceiras.
      </p> <br><br>
      <p class="justifyText">
        Quanto maior a integração de empresas em nossa plataforma, maior será a motivação de novas pessoas em participar
        dessa causa sustentável.
      </p><br><br>
      <p class="justifyText">

        Com essa interatividade alavancamos a produção diária das cooperativas, portanto, contribuímos com números mais
        significativos para a redução de resíduos.
      </p><br><br>
    </div>




    <div class="col-3 mb-5">
      <div>
        <div>
          <div class="d-flex justify-content-center" width="100%">
            <img class="imagemSobreNos" src="https://i.imgur.com/aQnXfO3.png" alt="Imagem de lixeira">
          </div>
          <h3>
            Missão
          </h3>
          <p class="justifyText">
            Conscientizar a população da importância de reciclar e preservar os recuros naturais. Lutar por um mundo
            menos poluído.
          </p>
          <div class="d-flex justify-content-center" width="100%">
            <img class="imagemSobreNos" src="https://i.imgur.com/AyW2eCg.png" alt="Imagem símbolo reciclagem">
          </div>
          <h3>
            Valores
          </h3>
          <p class="justifyText">
            Responsabilidade,
            Colaboração,
            Sustentabilidade.
          </p>
        </div>
      </div>
    </div>

    <div class="col-3  mb-5">
      <div class="d-flex align-content-center">
        <div>
          <div class="d-flex justify-content-center" width="100%">
            <img class="imagemSobreNos" src="https://i.imgur.com/58li80g.png" alt="Imagem de caminhão da cooperativa">
          </div>
          <h3>
            Visão
          </h3>
          <p class="justifyText">
            Tornar-se uma referência de plataforma para elevar os níveis de reciclagem do Brasil.
          </p>
          <div class="d-flex justify-content-center" width="100%">
            <img class="imagemSobreNos" src="https://i.imgur.com/neNLHhD.png" alt="Ilustração da empresa parceira">
          </div>
          <h3>
            Cultura
          </h3>
          <p class="justifyText">
            Diversidade,
            Inclusão,
            Ética é inegociável.
          </p>
        </div>
      </div>


    </div>
  </div>
</div>